[Unit]
Description=Attendance Management System
After=network.target

[Service]
# Path to your project folder
#StandardInput=tty
#StandardOutput=journal
#StandardError=journal
#TTYPath=/dev/tty1
WorkingDirectory=/home/srishail/test/AttendanceManagement
Environment="PATH=/home/srishail/test/AttendanceManagement/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"
Environment="PYTHONUNBUFFERED=1"
# Path to the python executable INSIDE your virtual environment
ExecStart=python3 /home/srishail/test/AttendanceManagement/main.py
Restart=always
RestartSec=5
User=srishail
# Environment variables if needed (e.g., for display)
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
