[Unit]
Description=Attendance Management System
After=network.target

[Service]

# Change this to your project directory
WorkingDirectory=/home/pi/AttendanceManagement

# Virtual environment path
Environment="PATH=/home/pi/AttendanceManagement/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

Environment="PYTHONUNBUFFERED=1"

# Main program
ExecStart=/home/pi/AttendanceManagement/venv/bin/python /home/pi/AttendanceManagement/main.py

Restart=always
RestartSec=5

# User running the service
User=pi

[Install]
WantedBy=multi-user.target
